<section class="contact  section">
    <div class="grid-container">
        <div class="grid-x  grid-padding-x">
            <div class="cell  small-12">
                <h1 class="section__title  bold">Contact us</h1>
            </div>
            <div class="cell  small-12  medium-6">
                <p>With a friendly, professional and consultative approach to each project, a reputation for excellent workmanship and a high standard of finish throughout, we’re proud to boast an extremely loyal customer base.</p>
                <p>Get in touch today to see how we can help turn your vision into a reality.</p>
                <hr class="section__hr">
                <p><span class="bold">Tim Skerritt Landscape & Groundworks</span><br>
                    105 George Road<br>
                    Godalming<br>
                    Surrey<br>
                    GU7 3LX
                </p>
            </div>
            <div class="cell  small-12  medium-5  medium-offset-1">
                {{ craft.sproutForms.displayForm('form1') }}
            </div>
            <div class="cell  small-12">
                <div class="contact__img">
                </div>
            </div>          
        </div>
    </div>
</section>
