<section class="link-box">
    <div class="grid-container">
        <div class="grid-x  grid-padding-x  bg-dark-gray  text-center  link-box__padding">
            <div class="cell  small-12  medium-6  link-box__boarder">
                <h3><a href="#" class="bold  white">Discover more about us</a></h3>
            </div>
            <div class="cell  small-12  medium-6">
                <h3><a href="#" class="bold  white">Get a free quote</a></h3>
            </div>
        </div>
    </div>
</section>