<section class="logo-li">
    <div class="grid-container">
        <div class="grid-x  grid-padding-x  grid-margin-x  text-center  align-center">
            <div class="cell  small-12">
                <h1 class="logo-li__header  light">Qualifications</h1>
            </div>
            <article class="cell  small-6  medium-3">
                <div class="logo-li__img"></div>
            </article>
            <article class="cell  small-6  medium-3">
                <div class="logo-li__img"></div>
            </article>
            <article class="cell  small-6  medium-3">
                <div class="logo-li__img"></div>
            </article>
            <article class="cell  small-6  medium-3">
                <div class="logo-li__img"></div>
            </article>
            <article class="cell  small-6  medium-3">
                <div class="logo-li__img"></div>
            </article>
            <article class="cell  small-6  medium-3">
                <div class="logo-li__img"></div>
            </article>
            <article class="cell  small-6  medium-3">
                <div class="logo-li__img"></div>
            </article>
            <article class="cell  small-6  medium-3">
                <div class="logo-li__img"></div>
            </article>
            
        </div>
    </div>
</section>