<section class="project  grid-container">
    <div class="grid-x  grid-padding-x">
        <article class="cell  medium-6  medium-order-2"  data-sticky-container>
            <div class="project__details  sticky"  data-sticky data-anchor="project">
                <h1 class="project__title  bold">{{ entry.title }} - <span class="light">Domestic</span></h1>
                <p>With a friendly, professional and consultative approach to each project, a reputation for excellent workmanship and a high standard of finish throughout, we’re proud to boast an extremely loyal customer base.</p>
                <p class="project__p">Get in touch today to see how we can help turn your vision into a reality.</p>
                <button type="button" class="button">Get a quote</button>
            </div>
        </article>
        <div id="project" class="cell  medium-6  medium-order-1">
            <div class="grid-x">
                <div class="cell  medium-12">
                    <div class="project__img  project__img--first"></div>
                </div>
                <div class="cell  medium-6  project__item">
                    <div class="project__img"></div>
                </div>
                <div class="cell  medium-6  project__item">
                    <div class="project__img"></div>
                </div>
                <div class="cell  medium-6  project__item">
                    <div class="project__img"></div>
                </div>
                <div class="cell  medium-6  project__item">
                    <div class="project__img"></div>
                </div>
            </div>
            
        </div>
    </div>
</section>
