<section class="pro-li  grid-container">
    <div class="grid-x  grid-padding-x">
        <div class="cell  small-12">
            <div class="masonry-css">

                <article class="masonry-css-item">
                    <p class="pro-li__header">No matter the scale of project you are undertaking, we landscape & groundworks offers a personal, professional service with a relentless commitment to client satisfaction.</p>
                </article>   
                {% for entry in craft.entries.section('work') %}
                
                    <article class="masonry-css-item  pro-li__item">
                        <a href="{{ entry.url }}">
                            <div class="pro-li__img"></div>
                            <h1 class="pro-li__title">{{ entry.title }} - <span class="light">Domestic</span></h1>
                        </a> 
                    </article>
                  
                {% endfor %}

            </div> 
        </div>
    </div>
     
</section>