<section class="pro-li  grid-container">
    <div class="grid-x  grid-padding-x">
        <div class="cell  small-12">
            <div class="masonry-css">

                <article class="masonry-css-item">
                    <p class="pro-li__header">No matter the scale of project you are undertaking, we landscape & groundworks offers a personal, professional service with a relentless commitment to client satisfaction.</p>
                </article>   

                <article class="masonry-css-item  pro-li__item">
                    <div class="pro-li__img"></div>
                    <h1 class="pro-li__title">Title 1 - <span class="light">Domestic</span></h1>
                </article>   

                <article class="masonry-css-item  pro-li__item">
                    <div class="pro-li__img"></div>
                    <h1 class="pro-li__title">Title 2 - <span class="light">Domestic</span></h1>
                </article>  

                <article class="masonry-css-item  pro-li__item">
                    <div class="pro-li__img"></div>
                    <h1 class="pro-li__title">Title 3 - <span class="light">Domestic</span></h1>
                </article>   

                <article class="masonry-css-item  pro-li__item">
                    <div class="pro-li__img"></div>
                    <h1 class="pro-li__title">Title 4 - <span class="light">Domestic</span></h1>
                </article>   

                <article class="masonry-css-item  pro-li__item">
                    <div class="pro-li__img"></div>
                    <h1 class="pro-li__title">Title 5 - <span class="light">Domestic</span></h1>
                </article>  

                <article class="masonry-css-item  pro-li__item">
                    <div class="pro-li__img"></div>
                    <h1 class="pro-li__title">Title 6 - <span class="light">Domestic</span></h1>
                </article>   

                <article class="masonry-css-item  pro-li__item">
                    <div class="pro-li__img"></div>
                    <h1 class="pro-li__title">Title 7 - <span class="light">Domestic</span></h1>
                </article>   

                <article class="masonry-css-item  pro-li__item">
                    <div class="pro-li__img"></div>
                    <h1 class="pro-li__title">Title 8 - <span class="light">Domestic</span></h1>
                </article>   
                
                <article class="masonry-css-item  pro-li__item">
                    <div class="pro-li__img"></div>
                    <h1 class="pro-li__title">Title 9 - <span class="light">Domestic</span></h1>
                </article>   

            </div> 
        </div>
    </div>
     
</section>