<section class="split-box">
    <div class="grid-container">
        <div class="grid-x  grid-padding-x  align-middle  align-stretch">
            <div class="cell  medium-6  text-center  bg-main  white  split-box__flex">
                <div class="split-box__text">
                    <h2 class="s-bold">Services</h2>
                    <div class="js-slider">
                        <p>We offers a wide range of competitively priced services, guaranteed to meet the needs of the housebuilder, contractor or individual homeowner undertaking improvements.</p>
                        <p>We offers a wide range of competitively priced services, guaranteed to meet the needs of the housebuilder, contractor or individual homeowner undertaking improvements.</p>
                    </div>  
                </div>
            </div>
            <div class="cell  medium-6  split-box__img">
                <button class="button  button--center  button--outline  italic  button--splitbox">
                    View work
                </button>
            </div>
        </div>
    </div>
</section>