<section class="split-box">
    <div class="grid-container">
        <div class="grid-x  grid-padding-x  align-middle  align-stretch">
            <div class="cell  medium-6  split-box__text  text-center  bg-main  white">
                <h3>Services</h3>
                <p>We offers a wide range of competitively priced services, guaranteed to meet the needs of the housebuilder, contractor or individual homeowner undertaking improvements.</p>
            </div>
            <div class="cell  medium-6  split-box__img">
                <button class="button  button--center">
                    View work
                </button>
            </div>
        </div>
    </div>
</section>