<section class="split-box">
    <div class="grid-container">
        <div class="grid-x  grid-padding-x  align-middle  align-stretch">
            <div class="cell  medium-6  text-center  bg-main  white  split-box__flex">
                <div class="split-box__text">
                    <h2>Testimonials</h2>
                    <article class="js-slick">
                        <p>"We offers a wide range of competitively priced services, guaranteed to meet the needs of the housebuilder, contractor or individual homeowner undertaking improvements."</p>
                        <p>"Test 2"</p>
                        <p>"Test 3"</p>
                        <p>"Test 4"</p>
                    </article>
                </div>
            </div>
            <div class="cell  medium-6  split-box__img  split-box__img--test">
                <article class="synced-container">
                    <p class="active" id="content-1">"Test 1 img"</p>
                    <p class="hidden" id="content-2">"Test 2 img"</p>
                    <p class="hidden" id="content-3">"Test 3 img"</p>
                    <p class="hidden" id="content-4">"Test 4 img"</p>
                </article>
            </div>
        </div>
    </div>
</section>


