<section class="split-box">
    <div class="grid-container">
        <div class="grid-x  grid-padding-x  align-middle  bg-main">
            <div class="cell  medium-6  text-center  white  slider-nav  split-box__text  split-box__flex">
                <p>"We offers a wide range of competitively priced services, guaranteed to meet the needs of the housebuilder, contractor or individual homeowner undertaking improvements."</p>
                <p>"Test 2"</p>
                <p>"Test 3"</p>
                <p>"Test 4"</p>
            </div>
            <div class="cell  medium-6  slider-for  p-0  text-center">
                <div class="split-box__img">
                    <p>"Test 1 img"</p>
                </div>
                <div class="split-box__img">
                    <p>"Test 2 img"</p>
                </div>
                <div class="split-box__img">
                    <p>"Test 3 img"</p>
                </div>
                <div class="split-box__img">
                    <p>"Test 4 img"</p>
                </div>
            </div>
        </div>
    </div>
</section>


