<header class="header">
    <div class="grid-container">
        <div class="grid-x  grid-margin-x  align-middle">
            <div class="cell  small-6  large-3">
                <h3 class="m-0">Logo</h3>
            </div>
            <div class="cell  small-6  large-6">
                <nav class="nav">
                    <ul class="menu align-center">
                        <li><a href="{{ siteUrl }}">Home</a></li>
                        <li><a href="{{ url('work') }}">Work</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Contact</a></li>
                      </ul>
                </nav>
            </div>
            <div class="cell medium-3">
                <button type="button" class="button  button--right">Get a quote</button>
            </div>
        </div>
    </div>
</header>