.button {
    margin: 0;
    &--right {
        float: right;
    }
    &--center {
        align-self: center;
    }

    &--outline {
        background: none;
        border: 1px solid $main;
        transition: 0.5s all;
        &:hover {
            background: $main;
        }
    }

    &--splitbox {
        font-size: 1.5rem;
        padding: 1rem 2rem;
    }
}