.logo-li {
    padding: 4rem 0;

    &__header {
        color: $medium-gray;
        margin: 1rem 0 2rem;
    }

    &__img {
        width: 7rem;
        height: 7rem;
        border-radius: 50%;
        background-color: $light-gray;
        margin: 1.5rem auto 1.5rem;
    }

    &__title {
        font-size: 1.25rem;
    }
}
