.pro-li {
    padding-top: 3rem;
    padding-bottom: 3rem;

    &__header {
        font-size: 1.5rem;
        margin-bottom: 3rem;
        padding-right: 2rem;
    }

    &__item {

        &:nth-child(3n+4) {
            .pro-li__img {
                height: 28rem;
                background-color: $medium-gray;
            }
        }

        &:hover {
            .pro-li__img:before {
                content: "View";
                text-align: center;         
                font-size: 2rem;
                letter-spacing: 1px;
                position: absolute;
                top: 0;
                left: 0;
                background: rgba($main, .8);
                height: inherit;
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
            }
        }
        
    }

    &__img {
        height: 23rem;
        background-color: $light-gray;
        margin-bottom: 1.5rem;
        position: relative;

        &::before {
            content: "";
            background: none;
            transition: all 0.5s;
            color: $white;
        }
    }

    &__title {
        font-size: 1.25rem;
    }
}