.split-box {
    &__img {
        height: 22rem;
        background-color: $light-gray;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    &__flex {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

    &__text {
        padding: 2rem;
    }
}