.form__input {
    .heading {
        display: none;
    }
    .input {
        input, textarea {
            border: none;
            padding: 0 0 0.5rem;
            box-shadow: none;
            border-bottom: 1px solid $black;
            &::placeholder {
                color: $black;
            }
            &:focus {
                border-bottom: 1px solid $main;
            }
        }
    }
}

.submit {
    button {
        margin-top: 1rem;
        border: 2px solid $main;
        border-radius: 0.15rem;
        padding: 0.5rem 0.75rem;
        transition: all 0.3s;
        &:hover {
            cursor: pointer;
            background-color: $main;
            color: $white;
        }
    }
}