.white{
    color: $white;
}
.black {
    color: $black;
}

.bg-main {
    background-color: $main;
}

.bg-dark-gray {
    background-color: $dark-gray;
}

.bg-gray {
    background-color: $light-gray;
}